
/* sister concern sub menu tab option*/
.product-item{
	float: left;
    padding: 15px 15px;
}

.product-item img{
	margin: 0 auto;
}

a.theme-btnx {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    background: #004786;
    padding: 10px;
    font-size: 16px;
}
figure.image-box-x {
    border: 1px solid #004786;
    padding: 1px;
}