/* BizPro – Multipurpose HTML Template for any Company */

@media only screen and (max-width: 1440px){
	.page-wrapper{
		overflow:hidden;	
	}
	
	.featured-project-carousel .owl-prev,
	.team-section .owl-prev{
		left:-60px;	
	}
	
	.featured-project-carousel .owl-next,
	.team-section .owl-next{
		right:-60px;	
	}
}

@media only screen and (max-width: 1140px){
	
	.main-header{
		position:relative;
		margin:0px !important;
	}
	
	.page-title{
		padding:80px 0px;	
	}
	
	.main-menu .navigation > li{
		margin:0px 15px;
	}
	
	.parallax-content-section .follow-column,
	.parallax-content-section .content-column{
		padding-left:15px;
		padding-right:15px;
	}
	
	.parallax-content-section .content-column::after{
		display:none;	
	}
	
	.project-single .content-outer{
		padding:20px 20px 50px;	
	}
	
	.project-details .content-column .text{
		padding-right:0px;	
	}
	
	.contact-section .contact-info,
	.contact-section .form-container{
		padding-left:20px;
		padding-right:20px;	
	}
	
	
}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 1023px){
	
	.main-header .main-box .logo-box {
		position:relative;
		left:0px;
		top:0px;
		right:0px;
		bottom:0px;
		width:200px;
		margin:0px;
		text-align:left;
	}
	
	.main-header .nav-outer,
	.nav-outer .main-menu{
		display:none;
	}
	
	.main-header .nav-toggler{
		display:block;
	}
	
	.sec-title h2{
		font-size:26px;	
	}
	
	.page-title h1{
		font-size:32px;	
	}
	
	.why-chooose-us .outer-box::before,
	.why-chooose-us .outer-box::after{
		display:none;	
	}
	
	.centered-icon-column{
		border:none;	
	}
	
	.call-to-action .outer .inner .theme-btn{
		margin:15px 10px 0px;	
	}
	
	.call-to-action .outer .inner{
		text-align:center;	
	}
	
	.pricing-column.featured-column{
		margin-top:0px;	
	}
	
	.parallax-content-section .column .text,
	.main-footer .footer-bottom .copyright{
		margin-bottom:20px;	
	}
	
	.parallax-content-section .content-column{
		margin-bottom:40px;	
	}
	
	.main-footer .footer-bottom .developed-by,
	.main-footer .footer-bottom .copyright{
		text-align:center;	
	}
	
}

@media only screen and (max-width: 767px){
	
	
	.main-header .header-top .top-right ul.info-nav{
		float:none;
		left:-10px;	
	}
	
	.header-upper .logo-outer {
		position:relative;
		left:0px;
		top:0px;
		right:0px;
		bottom:0px;
		width:100%;
		margin:0px;
	}
	
	.default-portfolio-item.masonry-item.big-item,
	.default-portfolio-item.masonry-item.small-item{
		width:100%;	
	}
	
	.main-header .header-top .top-right ul li,
	.main-header .header-top .top-left ul li{
		margin:0px 5px;	
	}
	
	.what-we-do .left-column .feature-block .inner-box,
	.what-we-do .right-column .feature-block .inner-box{
		max-width:450px !important;
		margin:0px auto !important;
		text-align:center !important;
		padding:0px !important;
		float:none;	
	}
	
	.what-we-do .left-column .feature-block .icon-box,
	.what-we-do .right-column .feature-block .icon-box{
		position:relative !important;
		left:0px !important;
		top:0px !important;
		right:0px !important;
		bottom:0px !important;
		margin:0 auto 20px !important;
	}
	
	.main-slider .tp-caption{
		display:none !important;
	}
	
	.error-section h3{
		font-size:22px;
		margin-bottom:20px;	
	}
	
	.error-section .text .theme-btn{
		margin:10px 10px;
	}
	
	.default-event-post .content-box .info-box .event-title,
	.single-class .post-container .title-info h2,
	.blog-list-view .styled-blog-post .content-box .info-box .post-title,
	.blog-grid-view .styled-blog-post .content-box .info-box .post-title{
		font-size:18px;	
	}
	
	.main-header .header-top .top-right ul,
	.main-header .header-top .top-left ul{
		text-align:center;	
	}
	
	.main-header .header-top .top-right ul li,
	.main-header .header-top .top-left ul li{
		border:none;
		margin-top:5px;
		margin-bottom:5px;	
	}
	
	.project-details .image-column .inner-box{
		margin-top:0px;	
	}
	
}

@media only screen and (max-width: 599px){
	
	.sidebar-page-container .comments-area .reply-btn{
		position:relative !important;
		top:5px !important;
		right:0px;	
	}
	
	.blog-news-section .post-share-options .pull-right.text-left{
		float:left !important;
		padding-top:10px !important;
		width:100%;
	}
	
	.sidebar-page-container .comments-area .reply-comment{
		margin-left:0px;	
	}
	
	.newsletter-section .fields-outer .form-group{
		display:block;
		padding:0px !important;	
	}
	
	.newsletter-section .form-group input[type="submit"],
	.newsletter-section button{
		display:block;
		width:100%;	
	}
	
	
	.fact-counter .column{
		display:block !important;
		padding:20px 15px !important;
		width:100% !important;
	}
	
	.fact-counter .column::after{
		display:none;	
	}
	
	.sidebar-page-container blockquote{
		margin-left:0px;	
	}
}

@media only screen and (max-width: 479px) {
	
	.main-header .main-box .logo-box .logo img{
		max-width:70%;	
	}
	
	
	.page-title h2{
		font-size:20px;	
	}
	
	.team-member .inner-box .info-header,
	.team-member .inner-box .text{
		margin-bottom:12px;	
	}
	
	.sidebar-page-container .comments-area .comment{
		padding-left:0px;	
	}
	
	.sidebar-page-container .comments-area .comment-box .author-thumb{
		position:relative;
		left:0px;
		top:0px;
		margin-bottom:20px;	
	}
	
	.main-header .header-top .top-right{
		display:none;	
	}
	
	.main-header .header-top .top-left ul li .fa{
		display:none;	
	}
	
	.main-footer .newsletter-form input[type="text"],
	.main-footer .newsletter-form input[type="email"],
	.main-footer .newsletter-form input[type="tel"]{
		padding-right:15px;	
	}
	
	.main-footer .newsletter-form input[type="submit"], .main-footer .newsletter-form button{
		position:relative;
		border-radius:5px;
		margin-top:10px;	
	}
	
	.hidden-bar.right-align .hidden-bar-closer{
		left:0px;	
	}
}
