
.btn-style-one{
	background:#46a5e5;
	border:2px solid #46a5e5;
}

.btn-style-one:hover{
	background:none;
	color:#46a5e5 !important;
	border-color:#46a5e5;
}

.btn-style-two:hover{
	background:#46a5e5;
	color:#ffffff !important;
	border-color:#46a5e5;
}

.btn-style-three{
	background:#46a5e5;
}

/*Color*/
.main-header .header-top .top-right ul li .share, .main-header .header-top ul li a:hover,.sec-title h2 strong,.call-to-action .outer .inner .theme-btn,.centered-icon-column .icon-box,.featured-project-column .inner-box:hover .lower-content h4 a,.default-news-post .inner-box .lower-content h3 a:hover,.default-news-post .lower-content .post-meta li a:hover,.default-news-post .lower-content .post-meta li .icon,.team-member .default-social-links a:hover,.parallax-content-section .social-links a:hover,.testimonials-carousel .slide-item .designation,.main-footer .links-widget .list li a:hover,.main-footer .contact-info li .icon,.main-footer .footer-bottom .author-name, .main-footer .footer-bottom .year,.main-footer .footer-bottom .fa,.main-footer .social-links a:hover,.main-footer .posts-widget .post h4 a:hover{
	color:#46a5e5;	
}

.featured-project-carousel .owl-prev,.featured-project-carousel .owl-next,.team-section .owl-next,.team-section .owl-prev {
	color:#46a5e5 !important;	
}

.featured-project-carousel .owl-prev:hover,.featured-project-carousel .owl-next:hover,.team-section .owl-prev:hover, .team-section .owl-next:hover,.default-gallery-item .inner-box .bottom-link,.default-news-post .image-box .link-btn,.pricing-column .inner-box .theme-btn:hover, .pricing-column.featured-column .inner-box .theme-btn{
	background:#46a5e5 !important;	
}

/*Background color*/
.main-header .main-box,.call-to-action .outer .inner .layer-left,.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span,.pricing-column.featured-column .inner-box .column-header, .pricing-column.featured-column .inner-box .price,.pricing-column.featured-column .inner-box .column-header, .pricing-column.featured-column .inner-box .price,.featured-project-column .image-box .link-btn,.main-footer .newsletter-form input[type="submit"], .main-footer .newsletter-form button,.color-palate-head{
	background:#46a5e5;	
}

.call-to-action .outer .inner .layer-right,
.color-trigger{
	background:#3c90c8;	
}

.team-member .inner-box .overlay-content{
	background:rgba(41,113,162,0.80);	
}

.fact-counter-section:before,.pricing-section:before,.parallax-content-section:before{
	background:rgba(0,0,0,0.70);
	background:-webkit-linear-gradient(left,rgba(70,165,229,0.80),rgba(0,0,0,0.70));
	background:-moz-linear-gradient(left,rgba(70,165,229,0.80),rgba(0,0,0,0.70));
	background:-ms-linear-gradient(left,rgba(70,165,229,0.80),rgba(0,0,0,0.70));
	background:-o-linear-gradient(left,rgba(70,165,229,0.80),rgba(0,0,0,0.70));
}

/*Border color*/
.sec-title:before,.sec-title:after,.featured-project-carousel .owl-prev,.featured-project-carousel .owl-next,.featured-project-column .inner-box:hover .lower-content h4:after,.pricing-section .sec-title:before,.pricing-section .sec-title:after,.team-section .owl-prev, .team-section .owl-next,.fact-counter .column:after,.parallax-content-section .content-column:after{
	border-color:#46a5e5;	
}


.main-slider .tp-bullets.preview3 .bullet:hover,.main-slider .tp-bullets.preview3 .bullet.selected{
	border-color:#46a5e5 !important;
	background:#46a5e5 !important;
}

.main-slider .tparrows.preview3:hover::after{
	color:#ffffff;
	background:#46a5e5;
	border-color:#46a5e5;
}